# LangChain
langchain               >=0.3.21
langchain-chroma        >=0.2.2 
langchain-community     >=0.3.20
langchain-core          >=0.3.49
langchain-google-genai  >=2.0.11
langchain-huggingface   >=0.1.2 
langchain-neo4j         >=0.4.0 
langchain-text-splitters>=0.3.7 
langsmith               >=0.3.11 


# Database
neo4j

# Xử lý dữ liệu
pandas>=2.2.1
numpy>=1.26.4

# Google Gemini API
google-generativeai>=0.8.4


# .env
python-dotenv>=1.0.1

# Chạy API nếu muốn mở rộng ứng dụng thành chatbot web
fastapi>=0.115.11 
uvicorn>=0.34.0
