{% extends 'base.html' %}


{% block content %}

        <!-- Header-->
        <header class="bg-warning py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div style="color: #0d6efd;" class="text-center">
                    <h1 class="display-4 fw-bolder">Shopping Cart</h1>
                    <p class="lead fw-normal mb-0">View Your Cart...</p>
                </div>
            </div>
        </header>
        <br/><br/><br/>
        <div style="width: 1200px;" class="container">
        {% if cart_products %}
        	{% for product in cart_products %}
        	
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img style="width: 350px;" src="{{ product.image }}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <br/>
                  <p class="card-text justified">{{ product.description }}</p>
                  
                  <br/>
                  <div style="color: #dc3545; height: 50px; width: 500px; font-size: 20px;" class="text-center bg-light">
                    <!-- Product price-->
                    ₫{{ product.price }}
                  </div>
                      
                  
                      <br/><br/>
                  <div class="row justify-content">
              <div class="col-md-2">Quantity:</div>
                          <div class="col-md-2">
                          <select class="form-select form-select-sm" id="select{{product.id}}">
                            
                      {% for key, value in quantities.items %}
                          {% if key == product.id|slugify %}
                      <option selected>{{ value }}</option>
                          {% endif %}
                      {% endfor %}
                                    

                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                          </div>
                      </div>
                      <br/><br/>
                  <a style="background-color: #ffc107;" href="{% url 'home'%}" class="btn btn-outline-dark">Home</a>
                  <button style="background-color: #ffc107;" type="button" data-index="{{product.id}}" class="btn btn-outline-dark update-cart">Update</button>
                  <button type="button" data-index="{{product.id}}" class="btn btn-danger delete-product">Remove</button>
                  
              
                </div>
              </div>
            </div>
          </div>
                    {% endfor %}
                      <div align="right">
                      <h3 >Total: <h3 style="color: #dc3545;"> ₫{{ totals }}</h3> </h3>
                      <a href="{% url 'checkout' %}" class="btn btn-success">Checkout</a>

                      </div>
                      <br/><br/><br/>
                    {% else %}
                    There's Nothing In Your Cart...
                    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        {% endif %}
    	</div>




<script>
// Update Cart
$(document).on('click', '.update-cart', function(e){
    e.preventDefault();
    // grab the product id
    var productid = $(this).data('index');

    $.ajax({
    type: 'POST',
    url: '{% url 'cart_update' %}',
    data: {
      product_id: $(this).data('index'),
      product_qty: $('#select' + productid + ' option:selected').text(),
      csrfmiddlewaretoken: '{{ csrf_token }}',
      action: 'post'
    },
    success: function(json){
        //console.log(json)
        //document.getElementById("cart_quantity").textContent = json.qty
        location.reload();
    },

    error: function(xhr, errmsg, err){

    }


    });

})

// Delete Item From Cart
$(document).on('click', '.delete-product', function(e){
    e.preventDefault();
    // grab the product id
    //var productid = $(this).data('index');

    $.ajax({
    type: 'POST',
    url: '{% url 'cart_delete' %}',
    data: {
      product_id: $(this).data('index'),
      csrfmiddlewaretoken: '{{ csrf_token }}',
      action: 'post'
    },
    success: function(json){
        //console.log(json)
        //document.getElementById("cart_quantity").textContent = json.qty
        location.reload();
    },

    error: function(xhr, errmsg, err){

    }


    });

})




</script>


{% endblock %}