{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-warning py-4">
            <div class="container px-4 px-lg-5 my-5">
                <div style="color: #0d6efd;" class="text-center ">
                    <h1 class="display-4 fw-bolder">Categories</h1>
                    <p class="lead fw-normal  mb-0">Choose Your Category Below...</p>
                </div>
            </div>
        </header>

        <div class="container">
            <br></br><br></br>  
            <center>
                <div class="row  gx-lg-0 row-cols-2 row-cols-md-3 justify-content-center">
                <a href="{% url 'category' 'Nhà Cửa - Đời Sống'%}">
                    <img src="https://salt.tikicdn.com/cache/100x100/ts/category/f6/22/46/7e2185d2cf1bca72d5aeac385a865b2b.png.webp" alt="Nhà cửa- Đời sống">
                    <p style="color: #0d6efd; "class="lead fw-normal mb-0">Nhà cửa- Đời sống</p>
                </a>
                <a href="{% url 'category' 'Làm Đẹp - Sức Khỏe'%}">
                    <img src="https://salt.tikicdn.com/cache/100x100/ts/category/73/0e/89/bf5095601d17f9971d7a08a1ffe98a42.png.webp" alt=" Làm đẹp - Sức khỏe">
                    <p style="color: #0d6efd; "class="lead fw-normal mb-0">Làm đẹp - Sức khỏe</p>
                </a>
                <a href="{% url 'category' 'Điện Thoại - Máy Tính Bảng'%}">
                    <img src="https://salt.tikicdn.com/cache/100x100/ts/category/54/c0/ff/fe98a4afa2d3e5142dc8096addc4e40b.png.webp" alt="Điện thoại - Máy tính bảng">
                    <p style="color: #0d6efd; "class="lead fw-normal mb-0">Điện thoại - Máy tính bảng</p>
                </a>
                <a href="{% url 'category' 'Đồ Chơi - Mẹ & Bé'%}">
                    <img src="https://salt.tikicdn.com/cache/100x100/ts/category/13/64/43/226301adcc7660ffcf44a61bb6df99b7.png.webp" alt="Đồ chơi - Mẹ & Bé">
                    <p style="color: #0d6efd; "class="lead fw-normal mb-0">Đồ chơi - Mẹ & Bé</p>
                </a>
                <a href="{% url 'category' 'Thiết Bị Kĩ Thuật Số - Phụ Kiện Số'%}">
                    <img src="https://salt.tikicdn.com/cache/100x100/ts/category/75/34/29/78e428fdd90408587181005f5cc3de32.png.webp" alt="Thiết bị kĩ thuật số - Phụ kiện số">
                    <p style="color: #0d6efd; "class="lead fw-normal mb-0">Thiết bị kĩ thuật số - Phụ kiện số</p>
                </a>
                <a href="{% url 'category' 'Điện Gia Dụng'%}">
                    <img src="https://salt.tikicdn.com/cache/100x100/ts/category/61/d4/ea/e6ea3ffc1fcde3b6224d2bb691ea16a2.png.webp" alt="Điện gia dụng">
                    <p style="color: #0d6efd; "class="lead fw-normal mb-0">Điện gia dụng</p>
                </a>
                <a href="{% url 'category' 'Ô Tô - Xe Máy - Xe Đạp'%}">
                    <img src="https://salt.tikicdn.com/cache/100x100/ts/category/69/f5/36/c6cd9e2849854630ed74ff1678db8f19.png.webp" alt="Ô tô - Xe máy - Xe đạp">
                    <p style="color: #0d6efd; "class="lead fw-normal mb-0">Ô tô - Xe máy - Xe đạp</p>
                </a>
                <a href="{% url 'category' 'Thời Trang Nữ'%}">
                    <img src="https://salt.tikicdn.com/cache/100x100/ts/category/55/5b/80/48cbaafe144c25d5065786ecace86d38.png.webp" alt="Thời trang nữ">
                    <p style="color: #0d6efd; "class="lead fw-normal mb-0">Thời trang nữ</p>
                </a>
                <a href="{% url 'category' 'Bách Hóa Online'%}">
                    <img src="https://salt.tikicdn.com/cache/100x100/ts/category/40/0f/9b/62a58fd19f540c70fce804e2a9bb5b2d.png.webp" alt="Bách hóa Online">
                    <p style="color: #0d6efd; "class="lead fw-normal mb-0">Bách hóa Online</p>
                </a>
                <a href="{% url 'category' 'Thể Thao - Dã Ngoại'%}">
                    <img src="https://salt.tikicdn.com/cache/100x100/ts/category/0b/5e/3d/00941c9eb338ea62a47d5b1e042843d8.png.webp" alt="Thể thao - Dã ngoại">
                    <p style="color: #0d6efd; "class="lead fw-normal mb-0">Thể thao - Dã ngoại</p>
                </a>
                




            </center>
        	<br></br><br></br><br></br><br></br>
        </div>

{% endblock %}