{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-warning py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div style="color: #0d6efd;" class="text-center ">
                    <h1 class="display-4 fw-bolder">Update Profile</h1>
                    <p class="lead fw-normal mb-0">Update User Profile...</p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
        		
        			<div class="col-md-6 offset-md-3">

        				<br/><br/>
<form method="POST" action="{% url 'update_user' %}">
    {% csrf_token %}
    
    {{ user_form.as_p }}
    <br/><br/>
    <div align="right">
        <button style="background-color: #ffc107;"  type="submit" class="btn btn-outline-dark">
        Update Profile
        </button>
    </div>
</form>

<br/><br/>
<div align="right">
    <a style="background-color: #ffc107;"  href="{% url 'update_password' %}" class="btn btn-outline-dark">Update Password</a>
</div>
<br/><br/>
<br/><br/>
<br/><br/>

        			</div>
        		
        	</div>
        </div>

{% endblock %}