{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="py-4">
            <div class="container px-4 px-lg-5 my-4">
                <div class="card bg-light ">
                    <div class="card-body">
                      <form method="POST" action="{% url 'search' %}">
                          {% csrf_token %}
                          <div class="mb-3">
                    
                            <input type="text" class="form-control" placeholder="Search For Products" name="searched">
                          </div>
                      <button style="background-color: #ffc107;" ""type="submit" class="btn btn-secondary">
                          Search
                      </button>
                      </form>
                    </div>
                  </div>
            </div>
        </header>
<br/><br/>
<section class="py-5">

    <div class="container px-4 px-lg-5 mt-5">

        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

        {% if searched %}
            {% for product in searched %}
                        <div class="col mb-5">
                                <div class="card h-100 bg-light">
                                    <!-- Product image-->
                                    <img class="card-img-top" src="{{ product.image }}" alt="..." />
                                    <!-- Product details-->
                                    <div style="height: 200px;" class=" card-body">
                                        <div class="wrapper bg-light">
                                            <div class="demo-1 text-center">{{ product.name }}</div>
                                            
                                        </div>
                                    </div>
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div style="color: #dc3545;" class="text-center">
                                            <!-- Product price-->
                                            ₫{{ product.price }}
                                        </div>
                                    </div>

                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a style="background-color: #ffc107;" class="btn btn-outline-dark mt-auto" href="{% url 'product' product.id %}">View Product</a></div>
                                    </div>
                                </div>
                            </div>

            {% endfor %}
            
        {% endif %}
        </div>
        <br/>
        
    </div>
</section>
<br/><br/>
        			</div>
        		</center>
        	</div>
        </div>

{% endblock %}